﻿@{
    ViewBag.Title = "AddGameLog";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>

<body>


    @if (Convert.ToBoolean(Session["IsGameLogNew"]))
{
    <form method="post" id="AddGameLog" enctype="multipart/form-data">

        <div class="panel panel-primary">
            <div class="panel-heading" style="margin-bottom:2%;">Add GameLog</div>

            <div style="margin-right:20%; margin-left:20%;">
                <div class="input-group" style="margin-bottom:2%;">
                    <span class="input-group-addon">Code</span>
                    @Html.DropDownList("GamerCode", (List<SelectListItem>)ViewBag.GamerCode, new { @class = "form-control", id = "GamerCode", name = "GamerCode" })
                </div>

                <div class="input-group date" style="margin-bottom:2%;">
                    <span class="input-group-addon">Game Started</span>
                    <input type="text" name="DateStarted" id="DateStarted" class="form-control" />
                    <span class="add-on">
                        <i data-time-icon="icon-time" data-date-icon="icon-calendar">
                        </i>
                    </span>
                </div>

                <div class="input-group date" style="margin-bottom:2%;">
                    <span class="input-group-addon">Game Ended</span>
                    <input type="text" name="DateEnded" id="DateEnded" class="form-control" />
                    <span class="add-on">
                        <i data-time-icon="icon-time" data-date-icon="icon-calendar">
                        </i>
                    </span>
                </div>

                <div class="input-group" style="margin-bottom:2%;">
                    <span class="input-group-addon">Earned Points</span>
                    <input type="text" name="EarnedPoints" id="EarnedPoints" class="form-control" readonly="readonly"/>
                </div>

                <div class="input-group" style="margin-bottom:2%;">
                    <span class="input-group-addon">Current Points</span>
                    <input type="text" name="CurrentPoints" id="CurrentPoints" class="form-control"  readonly="readonly"/>
                </div>

                <button type="button" class="btn btn-info btn-lg" id="Save" style="margin-bottom:4%;">Save</button>

            </div>
        </div>
    </form>

        <script type="text/javascript">
            $(document).ready(function () {

                //$('#DatePurchased').datetimepicker({
                //    language: 'en',
                //    pick12HourFormat: true
                //});

                //$("#DatePurchased").datepicker();
                $("#DateStarted").datetimepicker();
                $("#DateEnded").datetimepicker();
                
                //DateStarted
                //$('#datetimepicker2').datetimepicker({
                //    language: 'en',
                //    pick12HourFormat: true
                //});

                $("#DateEnded").focusout(function () {

                    $.ajax({
                        type: 'GET',
                        data: {
                            dateStarted: $("#DateStarted").val(),
                            dateEnded: $("#DateEnded").val(),
                            gamerId: $("#GamerCode").val()
                        },
                        url: '@Url.Action("CheckPoints", "ProbThreeGameLog")',
                        success: function (result) {
                            $('#EarnedPoints').val(result.EarnedPoints);
                            $('#CurrentPoints').val(result.CurrentPoints);
                        }
                    });
                });

                $("#Save").click(function () {

                    BootstrapDialog.show({
                        message: 'Are you sure you want to Save this GameLog?',
                        closable: false,
                        buttons: [
                        {
                            label: 'Save',
                            cssClass: 'btn-primary',
                            action: function () {
                                $("#AddGameLog").submit();
                            }
                        },
                        {
                            label: 'Close',
                            action: function (dialogItself) {
                                dialogItself.close();
                            }
                        }
                        ]
                    });

                });


            });
        </script>

    }
    @*else
    {
        <form method="post" id="UpdateOrder" enctype="multipart/form-data">
            <div class="panel panel-primary">
                <div class="panel-heading" style="margin-bottom:2%;">ADD Order</div>

                <div style="margin-right:20%; margin-left:20%;">
                    <div class="input-group" style="margin-bottom:2%;">
                        <span class="input-group-addon">Code</span>
                        <input type="text" name="UpdateProdCode" id="UpdateProdCode" class="form-control" disabled />
                    </div>

                    <div class="input-group" style="margin-bottom:2%;">
                        <span class="input-group-addon">Description</span>
                        <input type="text" name="UpdateDescription" id="UpdateDescription" class="form-control" required />
                    </div>

                    <div class="input-group" style="margin-bottom:2%;">
                        <span class="input-group-addon">Quantity</span>
                        <input type="text" name="UpdateQuantity" id="UpdateQuantity" class="form-control" required />
                    </div>

                    <div class="input-group" style="margin-bottom:2%;">
                        <span class="input-group-addon">Bulk Order</span>
                        <input type="text" name="UpdateBulkOrder" id="UpdateBulkOrder" class="form-control" required />
                    </div>

                    <div class="input-group" style="margin-bottom:2%;">
                        <span class="input-group-addon">Minimum Order</span>
                        <input type="text" name="UpdateMinOrder" id="UpdateMinOrder" class="form-control" required />
                    </div>

                    <div class="input-group" style="margin-bottom:2%;">
                        <span class="input-group-addon">Price</span>
                        <input type="text" name="UpdatePrice" id="UpdatePrice" class="form-control" required />
                    </div>

                    <div class="input-group" style="margin-bottom:2%;">
                        <span class="input-group-addon">Critical Level</span>
                        <input type="text" name="UpdateCriticalLevel" id="UpdateCriticalLevel" class="form-control" required />
                    </div>

                    <button type="button" class="btn btn-info btn-lg" id="UpdateSave" style="margin-bottom:4%;">Save</button>

                </div>
            </div>
        </form>

        <script type="text/javascript">
            $(document).ready(function () {

                $("#Description").focusout(function () {
                    $.ajax({
                        type: 'GET',
                        data: { ProdDesc: $("#Description").val() },
                        url: '@Url.Action("GenerateOrderCode", "ProbOneOrder")',
                        success: function (result) {
                            $('#ProdCode').val(result);
                        }
                    });
                });

                $("#UpdateSave").click(function () {

                    BootstrapDialog.show({
                        message: 'Are you sure you want to Update this Order?',
                        closable: false,
                        buttons: [
                        {
                            label: 'Update',
                            cssClass: 'btn-primary',
                            action: function () {
                                $("#UpdateOrder").submit();
                            }
                        },
                        {
                            label: 'Close',
                            action: function (dialogItself) {
                                dialogItself.close();
                            }
                        }
                        ]
                    });

                });


            });
        </script>
    }*@



</body>

</html>
