﻿@{
    ViewBag.Title = "Order";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int Id = 0;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.10.1/bootstrap-table.min.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.10.1/bootstrap-table.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.10.1/locale/bootstrap-table-zh-CN.min.js"></script>
</head>
<body>

    <form action="" method="post" id="OrderProbOne" enctype="multipart/form-data">
        @Html.Hidden("Order_Id", 0)
        <div class="panel panel-primary">
            <div class="panel-heading">Game Logs</div>
            <div class="row" style="margin:1%;">
                <div id="toolbar">
                    <div class="form-inline" role="form">
                        <div class="form-group">
                            <input type="button" id="AddGameLog" class="btn btn-default" onclick="location.href='@Url.Action("AddGameLog", "ProbThreeGameLog")'" value="Add GameLog" />
                        </div>

                        <div class="form-group">
                            <input type="button" id="Gamer" class="btn btn-default" onclick="location.href='@Url.Action("Gamer", "ProbThreeGamer")'" value="Go to Gamer" />
                        </div>
                    </div>
                </div>

                @*@Html.ActionLink("Problem1", "GetAllOrders", "OrderProbOne", null, new  {style="text-decoration:none;aria-hidden:true;", @class="glyphicon glyphicon glyphicon-cog" })*@

                <table id="table"
                       data-show-export="true"
                       data-show-columns="true"
                       data-toolbar="#toolbar"></table>

            </div>

        </div>
    </form>

    <script type="text/javascript">

        $(document).ready(function () {


            window.operateEvents = {
                'click .edit': function (e, value, row, index) {
                    //alert('You click like action, row: ' + JSON.stringify(row));
                    //GenerateExcel(row.SystemDate, row.UploadType_Id, row.Classification_Id, $("#consolidated").is(':checked'));

                    $('#Order_Id').val(row.Id);
                    location.href = '@Url.Action("UpdateGameLog", "ProbThreeGameLog", new { id = 1 })'
                },
                'click .remove': function (e, value, row, index) {
                    //$table.bootstrapTable('remove', {
                    //    field: 'id',
                    //    values: [row.id]
                    //});
                    alert("delete");
                }
            }

            $('#table').bootstrapTable({
                url: '@Url.Action("GetAllGameLogs", "ProbThreeGameLog")',
                //striped: true,
                pagination: true,
                method: 'post',
                search: true,
                locale: 'en-US',
                pageList: [50, 100, 'ALL'],
                pageSize: 100,
                height: 380,
                showRefresh: true,
                queryParams: function (p) {
                    return {
                        sample: "abc"
                        //uploadType_Id: $("#uploadType").val(),
                        //classification_Id: $("#classification").val(),
                        //isConsolidated: $("#consolidated").is(':checked')
                        //dateModified:  '@DateTime.Now'
                    }
                },
                columns: [
                {
                    field: 'Id',
                    title: 'Id',
                    sortable: true
                },
                 {
                     field: 'GamerCode',
                     title: 'Gamer ID',
                     sortable: true
                 },
                {
                    field: 'Start',
                    title: 'Start',
                    sortable: true
                },
                {
                    field: 'End',
                    title: 'End',
                    sortable: true
                },
                {
                    field: 'EarnedPoints',
                    title: 'EarnedPoints',
                    sortable: true
                },
                {
                    field: 'CurrentPoints',
                    title: 'CurrentPoints',
                    sortable: true
                }
                ]
            });


            //$('#Search').click(function () {
            //    $('#table').bootstrapTable('refresh');
            //});

            function operateFormatter(value, row, index) {
                return [
                    '<a class="edit" href="javascript:void(0)" title="Edit" >   ',
                    '<i class="glyphicon glyphicon-download"></i>',
                    '</a>  ',
                    '<a class="remove" href="javascript:void(0)" title="Remove" >   ',
                    '<i class="glyphicon glyphicon-remove"></i>',
                    '</a>  '
                ].join('');
            }

        });

    </script>

</body>

</html>
