﻿@{
    ViewBag.Title = "Gamer";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title></title>
        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.10.1/bootstrap-table.min.css">
        <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.10.1/bootstrap-table.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.10.1/locale/bootstrap-table-zh-CN.min.js"></script>
    </head>

    <body>

        <form method="post" id="Gamer" enctype="multipart/form-data">
        <div class="panel panel-primary">
            <div class="panel-heading">Gamer</div>
            <div class="row" style="margin:1%;">
                <div id="toolbar">
                    <div class="form-inline" role="form">
                        <div class="form-group">
                            <input type="button" id="AddGamer" class="btn btn-default" onclick="location.href='@Url.Action("AddGamer", "ProbThreeGamer")    '" value="Add Gamer" />
                        </div>

                        <div class="form-group">
                            <input type="button" id="GameLog" class="btn btn-default" onclick="location.href='@Url.Action("GameLog", "ProbThreeGameLog")    '" value="Go to GameLog" />
                        </div>
                    </div>
                </div>

                @*@Html.ActionLink("Problem1", "GetAllProducts", "ProductProbOne", null, new  {style="text-decoration:none;aria-hidden:true;", @class="glyphicon glyphicon glyphicon-cog" })*@

                <table id="table"
                       data-show-export="true"
                       data-show-columns="true"
                       data-toolbar="#toolbar"></table>

            </div>

        </div>
    </form>

        <script type="text/javascript">

            $(document).ready(function () {


                window.operateEvents = {
                    'click .edit': function (e, value, row, index) {
                        //alert('You click like action, row: ' + JSON.stringify(row));
                        //GenerateExcel(row.SystemDate, row.UploadType_Id, row.Classification_Id, $("#consolidated").is(':checked'));
                        @*$('#Product_Id').val(row.Id);
                        location.href = '@Url.Action("UpdateGamer", "ProbThreeGamer", new { id = 1 })'*@
                        BootstrapDialog.show({
                            message: 'Sorry, Still in Development',
                            closable: true,
                        });

                },
                'click .remove': function (e, value, row, index) {
                    BootstrapDialog.show({
                        message: 'Are you sure you want to Delete this Gamer?',
                        closable: false,
                        buttons: [
                        {
                            label: 'YES',
                            cssClass: 'btn-primary',
                            action: function (dialogItself) {

                                $.ajax({
                                    type: 'POST',
                                    data: { GamerId: row.Id },
                                    url: '@Url.Action("DeleteGamer", "ProbThreeGamer")',
                                    success: function (result) {
                                        $('#table').bootstrapTable('refresh');
                                        dialogItself.close();
                                    }
                                });
                            }
                        },
                        {
                            label: 'Close',
                            action: function (dialogItself) {
                                dialogItself.close();
                            }
                        }
                        ]
                    });

                }
            }

            $('#table').bootstrapTable({
                url: '@Url.Action("GetAllGamers", "ProbThreeGamer")',
                //striped: true,
                pagination: true,
                method: 'post',
                search: true,
                locale: 'en-US',
                pageList: [50, 100, 'ALL'],
                pageSize: 100,
                height: 380,
                showRefresh: true,
                queryParams: function (p) {
                    return {
                        sample: "abc"
                        //uploadType_Id: $("#uploadType").val(),
                        //classification_Id: $("#classification").val(),
                        //isConsolidated: $("#consolidated").is(':checked')
                        //dateModified:  '@DateTime.Now'
                    }
                },
                columns: [
                {
                    field: 'Id',
                    title: 'Id',
                    sortable: true
                },
                 {
                     field: 'GamerCode',
                     title: 'Gamer Id',
                     sortable: true
                 },
                {
                    field: 'Name',
                    title: 'Name',
                    sortable: true
                },
                {
                    field: 'RegistrationDate',
                    title: 'RegistrationDate',
                    sortable: true
                },
                {
                    field: 'BirthDate',
                    title: 'BirthDate',
                    sortable: true
                },
                {
                    field: 'Points',
                    title: 'Points',
                    sortable: true
                },
                {
                     title: 'Action',
                     events: operateEvents,
                     formatter: operateFormatter
                 }
                ]
            });


            //$('#Search').click(function () {
            //    $('#table').bootstrapTable('refresh');
            //});

            function operateFormatter(value, row, index) {
                return [
                    '<a class="edit" href="javascript:void(0)" title="Edit" >   ',
                    '<i class="glyphicon glyphicon-pencil"></i>',
                    '</a>  ',
                    '<a class="remove" href="javascript:void(0)" title="Remove" >   ',
                    '<i class="glyphicon glyphicon-remove"></i>',
                    '</a>  '
                ].join('');
            }

        });

    </script>

    </body>

</html>