﻿@{
    ViewBag.Title = "AddGamer";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>

</head>

<body>

    <form method="post" id="UpdateGamer" enctype="multipart/form-data">

        <div class="panel panel-primary">
            <div class="panel-heading" style="margin-bottom:2%;">Updates Gamer</div>

            <div style="margin-right:20%; margin-left:20%;">
                <div class="input-group" style="margin-bottom:2%;">
                    <span class="input-group-addon">ID</span>
                    <input type="text" name="GamerId" id="GamerId" class="form-control" readonly="readonly" value="@Session[""].ToString()" />
                </div>

                <div class="input-group" style="margin-bottom:2%;">
                    <span class="input-group-addon">Gamer ID</span>
                    <input type="text" name="GamerCode" id="GamerCode" class="form-control" readonly="readonly" value="@Session[""].ToString()" />
                </div>

                <div class="input-group" style="margin-bottom:2%;">
                    <span class="input-group-addon">Name</span>
                    <input type="text" name="Name" id="Name" class="form-control" required readonly="readonly" value="@Session[""].ToString()" />
                </div>

                <div class="input-group" style="margin-bottom:2%;">
                    <span class="input-group-addon">Registration Date</span>
                    <input type="text" name="RegistrationDate" id="RegistrationDate" class="form-control" value="@Session[""].ToString()" />

                </div>

                <div class="input-group" style="margin-bottom:2%;">
                    <span class="input-group-addon">Birth Date</span>
                    <input type="text" name="BirthDate" id="BirthDate" class="form-control" />

                </div>

                <button type="button" class="btn btn-info btn-lg" id="Save" style="margin-bottom:4%;">Save</button>

            </div>
        </div>
    </form>

    <script type="text/javascript">
        $(document).ready(function () {

            $("#RegistrationDate").datepicker(); //{ dateFormat: 'mm/dd/yy' }
            $("#BirthDate").datepicker(); //{ dateFormat: 'mm/dd/yy' }

            $("#BirthDate").focusout(function () {


                $.ajax({
                    type: 'GET',
                    data: {

                        Name: $("#Name").val(),
                        RegistrationDate: $("#RegistrationDate").val(),
                        BirthDate: $("#BirthDate").val()
                    },
                    url: '@Url.Action("GenerateGamerCode", "ProbThreeGamer")',
                    success: function (result) {
                        $('#GamerCode').val(result);
                    }
                });
            });

            $("#Save").click(function () {

                BootstrapDialog.show({
                    message: 'Are you sure you want to Save Gamer?',
                    closable: false,
                    buttons: [
                    {
                        label: 'Save',
                        cssClass: 'btn-primary',
                        action: function () {

                            @*$.ajax({
                                    type: 'POST',
                                    data: {
                                        GamerCode: $("#GamerCode").val(),
                                        Name: $("#Name").val(),
                                        RegistrationDate: $("#RegistrationDate").val(),
                                        BirthDate: $("#BirthDate").val()
                                    },
                                    url: '@Url.Action("AddGamer", "ProbThreeGamer")',
                                    success: function (result) {
                                        //$('#GamerCode').val(result);
                                        //location.href = 'UpdateProduct?ProductId=' + row.Id;
                                        location.href = '@Url.Action("Gamer", "ProbThreeGamer")'
                                    }
                                });*@
                            $("#AddGamer").submit();
                        }
                    },
                    {
                        label: 'Close',
                        action: function (dialogItself) {
                            dialogItself.close();
                        }
                    }
                    ]
                });

            });


        });
    </script>




</body>

</html>
