﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")
    @Styles.Render("~/Content/bootstrap")

    @Scripts.Render("~/bundles/bootstrap")
    @Styles.Render("~/Content/jquery-ui")

</head>
<body>
    <div class="container">

        <div class="row">
            @RenderPage("~/Views/Shared/_Header.cshtml")
        </div>

        <div>
            @RenderPage("~/Views/Shared/_TopNavigation.cshtml")
        </div>

        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                @RenderBody()
            </div>
        </div>

        <div class="row">
            @RenderPage("~/Views/Shared/_Footer.cshtml")
        </div>
    </div>
   
    @RenderSection("scripts", required: false)
</body>
</html>
