﻿@{
    ViewBag.Title = "_Navigation";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <nav class="navbar navbar-default">
        <div class="container-fluid">   
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/home/Index">Exam</a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav" style="width:auto;">
                    <li> @Html.ActionLink("Product/Order", "Product", "ProbOneProduct", null, new { style = "text-decoration:none;aria-hidden:true;", @class = "glyphicon glyphicon-list-alt" })</li>
                    <li> @Html.ActionLink("Product/Customer", "Product", "ProbTwoProduct", null, new { style = "text-decoration:none;aria-hidden:true;", @class = "glyphicon glyphicon-shopping-cart" }) </li>
                    <li> @Html.ActionLink("Gamer/GameLogs", "Gamer", "ProbThreeGamer", null, new { style = "text-decoration:none;aria-hidden:true;", @class = "glyphicon glyphicon-tower" })</li>
                </ul>
            </div>
        </div>
    </nav>
</body>
</html>
