﻿@{
    ViewBag.Title = "Product";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int Id = 0;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.10.1/bootstrap-table.min.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.10.1/bootstrap-table.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.10.1/locale/bootstrap-table-zh-CN.min.js"></script>
</head>
<body>

    <form action="" method="post" id="ProductProbOne" enctype="multipart/form-data">
        @Html.Hidden("Product_Id", 0)
        <div class="panel panel-primary">
            <div class="panel-heading">Product</div>
            <div class="row" style="margin:1%;">
                <div id="toolbar">
                    <div class="form-inline" role="form">
                        <div class="form-group">
                            <input type="button" id="AddProduct" class="btn btn-default" onclick="location.href='@Url.Action("AddProduct", "ProbTwoProduct")'" value="Add Product" />
                        </div>

                        <div class="form-group">
                            <input type="button" id="Orders" class="btn btn-default" onclick="location.href='@Url.Action("Order", "ProbTwoOrder")'" value="Go to Cart" />
                        </div>
                    </div>
                </div>

                @*@Html.ActionLink("Problem1", "GetAllProducts", "ProductProbOne", null, new  {style="text-decoration:none;aria-hidden:true;", @class="glyphicon glyphicon glyphicon-cog" })*@

                <table id="table"
                       data-show-export="true"
                       data-show-columns="true"
                       data-toolbar="#toolbar"></table>

            </div>

        </div>
    </form>

    <script type="text/javascript">

        $(document).ready(function () {


             window.operateEvents = {
                'click .edit': function (e, value, row, index) {
                    //location.href = 'UpdateProduct?ProductId=' + row.Id;
                    BootstrapDialog.show({
                        message: 'Sorry, Still in Development',
                        closable: true,
                    });
                },
                'click .remove': function (e, value, row, index) {

                    @*BootstrapDialog.show({
                        message: 'Are you sure you want to Delete this Product?',
                        closable: false,
                        buttons: [
                        {
                            label: 'YES',
                            cssClass: 'btn-primary',
                            action: function (dialogItself) {

                                $.ajax({
                                    type: 'POST',
                                    data: { ProductId: row.Id },
                                    url: '@Url.Action("DeleteProduct", "ProbOneProduct")',
                                    success: function (result) {
                                        $('#table').bootstrapTable('refresh');
                                        dialogItself.close();
                                    }
                                });
                            }
                        },
                        {
                            label: 'Close',
                            action: function (dialogItself) {
                                dialogItself.close();
                            }
                        }
                        ]
                    });*@
                    BootstrapDialog.show({
                            message: 'Sorry, Still in Development',
                            closable: true,
                        });
                }
            }


            $('#table').bootstrapTable({
                url: '@Url.Action("GetAllProducts", "ProbTwoProduct")',
                //striped: true,
                pagination: true,
                method: 'post',
                search: true,
                locale: 'en-US',
                pageList: [50, 100, 'ALL'],
                pageSize: 100,
                height: 380,
                showRefresh: true,
                queryParams: function (p) {
                    return {
                        sample: "abc"
                        //uploadType_Id: $("#uploadType").val(),
                        //classification_Id: $("#classification").val(),
                        //isConsolidated: $("#consolidated").is(':checked')
                        //dateModified:  '@DateTime.Now'
                    }
                },
                columns: [
                {
                    field: 'Id',
                    title: 'Id',
                    sortable: true
                },
                {
                    field: 'ProductCode',
                    title: 'ProductCode',
                    sortable: true
                },
                {
                    field: 'ProductDescription',
                    title: 'ProductDescription',
                    sortable: true
                },
                {
                    field: 'Price',
                    title: 'Price',
                    sortable: true
                },
                {
                    field: 'IsDiscounted',
                    title: 'IsDiscounted',
                    sortable: true
                },
                {
                    field: 'Discount',
                    title: 'Discount',
                    sortable: true
                },
                {
                    field: 'DateAdded',
                    title: 'DateAdded',
                    sortable: true
                },
                {
                    field: 'CriticalLevel',
                    title: 'CriticalLevel',
                    sortable: true
                },
                {
                    title: 'Action',
                    events: operateEvents,
                    formatter: operateFormatter
                }

                ]
            });


            //$('#Search').click(function () {
            //    $('#table').bootstrapTable('refresh');
            //});

            function operateFormatter(value, row, index) {
                return [
                    '<a class="edit" href="javascript:void(0)" title="Edit" >   ',
                    '<i class="glyphicon glyphicon-pencil"></i>',
                    '</a>  ',
                    '<a class="remove" href="javascript:void(0)" title="Remove" >   ',
                    '<i class="glyphicon glyphicon-remove"></i>',
                    '</a>  '
                ].join('');
            }

        });

    </script>

</body>

</html>
