﻿@{
    ViewBag.Title = "AddProduct";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>

</head>

<body>

        <form method="post" id="UpdateProduct" enctype="multipart/form-data">

            <div class="panel panel-primary">
                <div class="panel-heading" style="margin-bottom:2%;">Update Product</div>

                <div style="margin-right:20%; margin-left:20%;">

                    <div class="input-group" style="margin-bottom:2%;" hidden>
                        <span class="input-group-addon">Id</span>
                        <input type="text" name="ProdId" id="ProdId" class="form-control" readonly="readonly" value="@Session["ProductId"].ToString()" />
                    </div>

                    <div class="input-group" style="margin-bottom:2%;">
                        <span class="input-group-addon">Code</span>
                        <input type="text" name="ProdCode" id="ProdCode" class="form-control" readonly="readonly" value="@Session["ProductCode"].ToString()" />
                    </div>

                    <div class="input-group" style="margin-bottom:2%;">
                        <span class="input-group-addon">Description</span>
                        <input type="text" name="Description" id="Description" class="form-control" readonly="readonly" value="@Session["ProductDesc"].ToString()" />
                    </div>

                    <div class="input-group" style="margin-bottom:2%;">
                        <span class="input-group-addon">Quantity</span>
                        <input type="text" name="Quantity" id="Quantity" class="form-control" required value="@Session["Quantity"].ToString()" />
                    </div>

                    <div class="input-group" style="margin-bottom:2%;">
                        <span class="input-group-addon">Bulk Order</span>
                        <input type="text" name="BulkOrder" id="BulkOrder" class="form-control" required value="@Session["BulkOrder"].ToString()" />
                    </div>

                    <div class="input-group" style="margin-bottom:2%;">
                        <span class="input-group-addon">Minimum Order</span>
                        <input type="text" name="MinOrder" id="MinOrder" class="form-control" required value="@Session["MinimumOrder"].ToString()" />
                    </div>

                    <div class="input-group" style="margin-bottom:2%;">
                        <span class="input-group-addon">Price</span>
                        <input type="text" name="Price" id="Price" class="form-control" required value="@Session["Price"].ToString()" />
                    </div>

                    <div class="input-group" style="margin-bottom:2%;">
                        <span class="input-group-addon">Critical Level</span>
                        <input type="text" name="CriticalLevel" id="CriticalLevel" class="form-control" required value="@Session["CriticalLevel"].ToString()" />
                    </div>

                    <button type="button" class="btn btn-info btn-lg" id="Update" style="margin-bottom:4%;">Update</button>

                </div>
            </div>
        </form>

        <script type="text/javascript">
            $(document).ready(function () {

                @*$("#Description").focusout(function () {
                     $.ajax({
                            type: 'GET',
                            data: { ProdDesc: $("#Description").val() },
                            url: '@Url.Action("GenerateProductCode", "ProbOneProduct")',
                            success: function (result) {
                            $('#ProdCode').val(result);
                        }
                     });
                });*@

                $("#Update").click(function () {

                    BootstrapDialog.show({
                        message: 'Are you sure you want to Update this Product?',
                        closable: false,
                        buttons: [
                        {
                            label: 'Save',
                            cssClass: 'btn-primary',
                            action: function () {
                                $("#UpdateProduct").submit();
                            }
                        },
                        {
                            label: 'Close',
                            action: function (dialogItself) {
                                dialogItself.close();
                            }
                        }
                        ]
                    });

                });


            });
        </script>

   



</body>

</html>
